@use '../../styles/vars';

.app {
	display: grid;
	min-height: 100vh;
	grid-template-rows: 70px 1fr 40px;

	&__main {
		padding: 1em;
		background-color: vars.$gray;
		height: 100%;

		.content {
			height: 100%;
			display: flex;
			justify-content: space-around;
		}
	}

	.json {
		height: 100%;
		width: 30vw;
		&__textarea {
			display: block;
			height: 100%;
			width: 100%;
			padding: 0.5em;
			resize: none;
			background-color: transparent;
		}
	}

	
}