@use '../../styles/vars';

.header {
	height: 60px;
	background-color: vars.$green;
	color: vars.$white;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__title {
		font-size: 1.2em;
		font-weight: bold;
	}
}