@use '../../styles/vars';

.table {
	border-collapse: collapse;
	
	th, td {
		height: 30px;
	}
	th {
		padding: 0.5em;
		font-size: 1.2em;
		background-color: vars.$green;
		border: 1px solid vars.$white;
	}
}
